@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400&display=swap');

* {
    font-family: 'Quantico', sans-serif;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    background-color: #232329;
  }
  
.brandText {
    font-size: 40px;
    background-color: #1D1D22;
}
  
  .loginContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  .loginHeader {
    font-size: 40px;
    margin-bottom: 0.1px;
  }
  
  .loggedInContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
  }
  
  .homeButton {
    font-size: 18px;
    margin-top: 10px;
  }